body{

color: rgb(255, 255, 255);
background-color: rgb(27, 27, 27);
text-align: center;

}


h1{

font-size: 600%;

}


section{

background-color: rgb(66, 66, 66);
padding: 10%;
margin: 15%;
border-radius:5%;


}



.yt{


color: rgb(255, 158, 158);

}